@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

body {
background: #000;
}


    nav, .nav-links {
        display: flex;
        
    }
    
    nav {
        justify-content: space-around;
        align-items: center;
        height: 17vh;
    }
    
    .nav-links {
        gap: 2rem;
        list-style: none;
        font-size: 1.5rem;
    }
    a {
        color: white;
        text-decoration: none;
        text-decoration-color: white;
    }
    
    a:hover {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-color: rgb(181, 181, 181);
    }
.card-title{
width: 100%;
display: flex;
flex-wrap: wrap;  
color: #000;
}
.col-lg-3{
    flex: 1;
 display: flex;
flex-direction: column;
 align-items: center;
 list-style: none;
 margin: 10px;
padding: 15px;
border-radius: 12px;
text-align: center;
background:gold; 
font-family: 'Audiowide', cursive;
animation-name: fadeIn;
        animation-duration: 1s;
}
.col-lg-3 img {
    height: 250px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid
 }
 .results {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

.movie {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin: 10px;
        padding: 15px;
        border-radius: 12px;
        text-align: center;
        background:burlywood;
        color:#000;
        font-family: 'Audiowide', cursive;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .movie img {
        height: 250px;
        width: 180px;
        border-radius: 5px;
        border: 1px solid #fff;
    }

    .movie h2 {
        font-size: 1.8em;
        padding: 15px 10px 0;
    }

    .movie p {
        margin-top: 10px;
        font: size 1px;
        font-size: 1.2em;
        font-family: "Oswald", sans-serif;

    }

.results {
    padding-top: 6rem;
width: 100%;

display: flex;
flex-wrap: wrap;
}
.results li {
flex: 1;
 display: flex;
flex-direction: column;
 align-items: center;
 list-style: none;
 margin: 10px;
padding: 15px;
border-radius: 12px;
text-align: center;
background: #272727;
 }
.results li img {
    height: 250px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid
 }

.results li h2 {

color: #fff;
font-size: 1.8em;
padding: 15px 10px 0;
font-family: "Oswald", sans-serif;
}

.results h2 {

color: #fff;
font-size: 1.8em;
padding: 15px 10px 0;
font-family: "Oswald", sans-serif;
}


h1{
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    margin-left: 10px;
    color:antiquewhite;
}
hr{
    margin: 10px 0;
}
   .input-container {
    display: flex;
    border-radius: 1rem;

    padding: 0.3rem;
    width: 500px;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
       
    }
    .innerDiv {
        display: flex;
        justify-content: center;
    }
    #outPopUp {
        position: absolute;
        z-index: 15;
        top: 50%;
        left: 50%;
        right: 50%;
        margin: -100px 0 0 -150px;
    
      }
  
 
  .input-container input {
    border-radius: 0.8rem 0 0 0.8rem;
    background: #e8e8e8;
    flex-basis: 75%;
    padding: 1rem;
    border: none;
    border-left: 2px solid #4998FF;
    font-weight: 900;
    font-size:18px;
    width: 200px;

  }
  
  .input-container input:focus {
    border-left: 2px solid #4998FF;
    outline: none;
  }
  
  .input-container button {
    flex-basis: 25%;
    padding: 1rem;
    background: linear-gradient(135deg, #BFF0FA 0%, #4998FF 100%);
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color:black;
    border: none;
    width: 100%;
    border-radius: 0 1rem 1rem 0;
    font-weight: bold; 
  }
  
  .input-container button:hover {
    background: linear-gradient(135deg, #BFF0FA 0%, #4998ffc4 100%);


  }
  
  @media (max-width: 500px) {
    .input-container {
      flex-direction: column;
    }
  
    .input-container input {
      border-radius: 0.8rem;
    }
  
    .input-container button {
      padding: 1rem;
      border-radius: 0.8rem;
    }
  }
  #copyRight{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

  }
